<template>
  <el-card>
    <h1 style="text-align: center">PAGE NOT FOUND</h1>
    <div style="text-align: center">
      <span>This page could not be found - maybe check out all your <router-link to="/coaches">coaches</router-link> </span>
    </div>
  </el-card>
</template>

<script>
export default {
  name: "PageNotFound"
};
</script>

<style scoped></style>
