<template>
  <section>
    <el-card class="mT20px" shadow="always">
      <div style="text-align: center">
        <h2>Requests Received</h2>
      </div>
      <ul v-if="hasRequests">
        <request-item
          v-for="request in receivedRequests"
          v-bind:key="request.id"
          :email="request.userEmail"
          :message="request.message"
        ></request-item>
      </ul>
      <h3 v-else>You haven't received any requets yet !</h3>
    </el-card>
    <error-modal v-if="hasError" :model="hasError" :error-message="errorMessage"></error-modal>
  </section>
</template>

<script>
import RequestItem from "@/components/request/RequestItem";
import ErrorModal from "@/components/base/ErrorModal";
export default {
  name: "RequestsList",
  components: { ErrorModal, RequestItem },
  data() {
    return {
      errorMessage: null,
      hasError: false
    };
  },
  computed: {
    receivedRequests() {
      return this.$store.getters["requestModule/requests"];
    },
    hasRequests() {
      return this.$store.getters["requestModule/hasRequests"];
    }
  },
  methods: {
    async loadRequests() {
      this.$store.dispatch("blockUI");
      try {
        await this.$store.dispatch("requestModule/fetchRequests");
      } catch (error) {
        this.errorMessage = error.message || "Something went wrong!";
        this.hasError = true;
      }
      this.$store.dispatch("unblockUI");
    }
  },
  created() {
    this.loadRequests();
  }
};
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>
