<template>
  <div>
    <div>
      <coaches-filter
        @change-filter="changeFilters"
        :active-filters="activeFilters"
      ></coaches-filter>
    </div>
    <div style="text-align: right">
      <el-button @click="loadCoaches(true)" type="primary" size="mini" icon="el-icon-refresh">Refresh</el-button>
    </div>
    <div>
      <div v-if="hasCoaches">
        <div v-for="coach in filteredCoaches" :key="coach.id">
          <coach-card :coach="coach"></coach-card>
        </div>
      </div>
      <el-alert
        v-else
        title="No coaches found"
        type="warning"
        class="mT10px-i"
        :closable="false"
        show-icon
      >
      </el-alert>
    </div>
    <error-modal v-if="hasError" :model="hasError" :error-message="errorMessage"></error-modal>
  </div>
</template>

<script>
import CoachCard from "@/components/coach/CoachCard";
import CoachesFilter from "@/components/coach/CoachesFilter";
import ErrorModal from "@/components/base/ErrorModal";

export default {
  name: "CoachesList",
  components: { CoachesFilter, CoachCard, ErrorModal },
  computed: {
    filteredCoaches() {
      const coaches = this.$store.getters["coachModule/coaches"];
      return coaches.filter(coach => {
        if (this.activeFilters.frontend && coach.areas.includes("frontend")) {
          return true;
        }
        if (this.activeFilters.backend && coach.areas.includes("backend")) {
          return true;
        }
        return this.activeFilters.career && coach.areas.includes("career");
      });
    },
    hasCoaches() {
      return this.filteredCoaches && this.filteredCoaches.length > 0;
    }
  },
  data() {
    return {
      activeFilters: {
        frontend: true,
        backend: true,
        career: true
      },
      errorMessage: null,
      hasError: false
    };
  },
  methods: {
    changeFilters(filters) {
      this.activeFilters = filters;
    },
    async loadCoaches(forceRefresh = false) {
      this.$store.dispatch("blockUI");
      try {
        await this.$store.dispatch("coachModule/loadCoaches",{forceRefresh: forceRefresh});
      } catch (error) {
        this.errorMessage = error.message || "Something went wrong!";
        this.hasError = true;
      }
      this.$store.dispatch("unblockUI");
    }
  },
  created() {
    this.loadCoaches();
  }
};
</script>

<style scoped></style>
