<template>
  <el-card>
    <h1 style="text-align: center">{{ fullName }}</h1>
    <div>
      <b>Hourly rate: </b>
      <span>{{ hourlyRate }}</span>
    </div>
    <div class="mT10px">
      <b>Description: </b>
      <span>{{ description }}</span>
    </div>
    <el-row class="mT10px">
      <el-col :span="24">
        <base-badge
          v-for="area in areas"
          :key="area"
          :type="area"
          :title="area"
        ></base-badge>
      </el-col>
    </el-row>
  </el-card>

  <el-card class="mT20px">
    <h1 style="text-align: center">Interested ? Reach out now !</h1>

    <router-view></router-view>
    <el-row>
      <div style="text-align: center;width: 100%">
        <el-button
          style="width: 30%"
          @click="toContactPage"
          type="primary"
          plain
          >Contact</el-button
        >
      </div>
    </el-row>
  </el-card>
</template>

<script>
import BaseBadge from "@/components/base/BaseBadge";

export default {
  name: "CoachDetail",
  components: {
    BaseBadge
  },
  props: ["id"],
  state() {
    return {
      selectedCoach: null
    };
  },
  computed: {
    fullName() {
      return this.selectedCoach.firstName + " " + this.selectedCoach.lastName;
    },
    hourlyRate() {
      return this.selectedCoach.hourlyRate;
    },
    description() {
      return this.selectedCoach.description;
    },
    areas() {
      return this.selectedCoach.areas;
    }
  },
  methods: {
    toContactPage() {
      return this.$router.push({ name: "contactCoach" });
    },
    setSelectedCoach(id) {
      this.selectedCoach = this.$store.getters["coachModule/coaches"].find(
        c => c.id === id
      );
    }
  },
  created() {
    this.setSelectedCoach(this.id);
  },
  beforeRouteUpdate(to, from, next) {
    if (to.params.id !== this.id) {
      location.reload();
    }
    this.setSelectedCoach(to.params.id);
    next();
  }
};
</script>

<style scoped></style>
