<template>
  <el-form ref="form" :model="form" label-position="top" size="mini">
    <el-form-item label="Email" :required="true">
      <el-input :class="{invalid: !form.email.isValid}" v-model.trim="form.email.value"></el-input>
      <div v-if="!form.email.isValid" class="red">
        Email is invalid !
      </div>
    </el-form-item>
    <el-form-item label="Message" :required="true">
      <el-input
          type="textarea"
          v-model="form.message.value"
          :class="{invalid: !form.message.isValid}"
      ></el-input>
      <div v-if="!form.message.isValid" class="red">
        Message must not be empty !
      </div>
    </el-form-item>

    <el-form-item>
      <el-button style="min-width: 150px" type="primary" @click="onSubmit"
      >Send message</el-button
      >
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "ContactForm",
  emits: ["submit"],
  data() {
    return {
      form: {
        email: {
          value: "",
          isValid: true
        },
        message: {
          value: "",
          isValid: true
        }
      },
      isFormValid: true
    };
  },
  methods: {
    clearValidity(){
      this.isFormValid = true;
      this.form.email.isValid = true;
      this.form.message.isValid = true;
    },
    validateForm() {
      this.clearValidity();
      if (
        this.form.email.value === "" ||
        !this.form.email.value.includes("@") ||
        !this.form.email.value.includes(".")
      ) {
        this.form.email.isValid = false;
        this.isFormValid = false;
      }
      if (this.form.message.value === "") {
        this.form.message.isValid = false;
        this.isFormValid = false;
      }
    },
    onSubmit() {
      this.validateForm();

      if (!this.isFormValid) {
        return;
      }

      const formData = {
        email: this.form.email.value,
        message: this.form.message.value
      };

      this.$emit("submit", formData);
    }
  }
}
</script>

<style scoped>

</style>