<template>
  <el-row>
    <el-col :span="10" style="margin-top:10px;">
      <h1>
        <router-link to="/">
          <img
            class="absolute logo-icon"
            width="50"
            height="50"
            :src="require('@/assets/coach.svg')"
          />
          <span class="absolute title">Coach Finder Application</span>
        </router-link>
      </h1>
    </el-col>
    <el-col :span="14" class="header-btn-wrapper">
      <el-button @click="toCoachesList" size="small" class="header-btn"
        >All Coaches
      </el-button>
      <el-button @click="toRequests" size="small" class="header-btn"
        >Requests
      </el-button>
      <el-button
        v-if="!isLoggedUserRegisteredAsCoach"
        size="small"
        @click="toRegisterPage"
        type="success"
        >Register Coach
      </el-button>
    </el-col>
  </el-row>
</template>

<script>
export default {
  name: "TheHeader",
  computed: {
    isLoggedUserRegisteredAsCoach(){
      const loggedUserId = this.$store.getters.userId;
      const coaches = this.$store.getters["coachModule/coaches"];
      const result = coaches.some(coach => coach.id === loggedUserId);
      return result;
    }
  },
  methods: {
    toCoachesList() {
      this.$router.push({ name: "coaches" });
    },
    toRequests() {
      this.$router.push({ name: "requests" });
    },
    toRegisterPage() {
      return this.$router.push({ name: "registration" });
    }
  }
};
</script>

<style scoped>
h1 a {
  text-decoration: none;
  color: white;
}

.header-btn {
  min-width: 150px;
  color: white;
  background: #286BB0;
}

.header-btn:hover {
  background: #0c4a8a;
  color: white;
}

.header-btn-wrapper {
  margin-top: 22px;
  text-align: right;
}

.title {
  margin-left: 65px;
}

.logo-icon {
  margin-top: -15px;
}
</style>
