<template>
  <div>
    <contact-form @submit="sendMessage"></contact-form>
  </div>
</template>

<script>
import ContactForm from "@/components/coach/contact/ContactForm";
export default {
  name: "ContactCoach",
  components: { ContactForm },
  methods: {
    sendMessage(data) {
      this.$store.dispatch("requestModule/contactCoach", {
        coachId: this.$route.params.id,
        email: data.email,
        message: data.message
      });
      this.$router.replace({ name: "coaches" });
    }
  }
};
</script>

<style scoped></style>
