<template>
  <el-dialog v-model="hasError">
    <template #title>
      <div style="text-align: center">
        <span style="color: red">ERROR</span>
      </div>
    </template>
    <div style="text-align: center">
      <span>{{ this.errorMessage }}</span>
    </div>
  </el-dialog>
</template>

<script>
export default {
  name: "ErrorModal",
  props: ["model", "errorMessage"],
  data() {
    return {
      hasError: this.model
    };
  }
};
</script>

<style scoped></style>
