<template>
  <el-form ref="form" :model="form" label-position="top" size="mini">
    <el-form-item label="First name" :required="true">
      <el-input :class="{invalid: !form.firstName.isValid}" v-model.trim="form.firstName.value"></el-input>
      <div v-if="!form.firstName.isValid" class="red">
        First name must not be empty !
      </div>
    </el-form-item>
    <el-form-item label="Last name" :required="true">
      <el-input :class="{invalid: !form.lastName.isValid}" v-model.trim="form.lastName.value"></el-input>
      <div v-if="!form.lastName.isValid" class="red">
        Last name must not be empty !
      </div>
    </el-form-item>
    <el-form-item label="Description" :required="true">
      <el-input
        type="textarea"
        v-model="form.description.value"
        :class="{invalid: !form.description.isValid}"
      ></el-input>
      <div v-if="!form.description.isValid" class="red">
        Description must not be empty !
      </div>
    </el-form-item>
    <el-form-item label="Hourly Rate" :required="true">
      <el-input :class="{invalid: !form.hourlyRate.isValid}" type="number" v-model="form.hourlyRate.value"></el-input>
      <div v-if="!form.hourlyRate.isValid" class="red">
        Hourly Rate value is invalid !
      </div>
    </el-form-item>
    <el-form-item label="Area of Expertise: " :required="true">
      <input
        class="mR5px"
        type="checkbox"
        id="frontend"
        value="frontend"
        v-model="form.areas.value"
      />
      <label class="mR10px" for="frontend">Frontend Development</label>
      <input
        class="mR5px"
        type="checkbox"
        id="backend"
        value="backend"
        v-model="form.areas.value"
      />
      <label class="mR10px" for="backend">Backend Development</label>
      <input
        class="mR5px"
        type="checkbox"
        id="career"
        value="career"
        v-model="form.areas.value"
      />
      <label class="mR10px" for="career">Career Advisory</label>
      <div v-if="!form.areas.isValid" class="red">
        At least one expertise must be selected !
      </div>
    </el-form-item>

    <el-form-item>
      <el-button style="min-width: 150px" type="primary" @click="onSubmit"
        >Register</el-button
      >
    </el-form-item>
  </el-form>
  <p v-if="!isFormValid" style="color: red">
    Please fix validation errors and submit again !
  </p>
</template>

<script>
export default {
  name: "CoachForm",
  emits: ["submit-form"],
  data() {
    return {
      form: {
        firstName: {
          value: "",
          isValid: true
        },
        lastName: {
          value: "",
          isValid: true
        },
        description: {
          value: "",
          isValid: true
        },
        hourlyRate: {
          value: null,
          isValid: true
        },
        areas: {
          value: [],
          isValid: true
        }
      },
      isFormValid: true
    };
  },
  methods: {
    clearValidity(){
      this.isFormValid = true;
      this.form.firstName.isValid = true;
      this.form.lastName.isValid = true;
      this.form.description.isValid = true;
      this.form.hourlyRate.isValid = true;
      this.form.areas.isValid = true;
    },
    validateForm() {
      this.clearValidity();
      if (this.form.firstName.value === "") {
        this.form.firstName.isValid = false;
        this.isFormValid = false;
      }
      if (this.form.lastName.value === "") {
        this.form.lastName.isValid = false;
        this.isFormValid = false;
      }
      if (this.form.description.value === "") {
        this.form.description.isValid = false;
        this.isFormValid = false;
      }
      if (!this.form.hourlyRate.value || this.form.hourlyRate.value < 0) {
        this.form.hourlyRate.isValid = false;
        this.isFormValid = false;
      }
      if (this.form.areas.value.length === 0) {
        this.form.areas.isValid = false;
        this.isFormValid = false;
      }
    },
    onSubmit() {
      this.validateForm();

      if (!this.isFormValid) {
        return;
      }

      const formData = {
        firstName: this.form.firstName.value,
        lastName: this.form.lastName.value,
        description: this.form.description.value,
        hourlyRate: this.form.hourlyRate.value,
        areas: this.form.areas.value
      };

      this.$emit("submit-form", formData);
    }
  }
};
</script>

<style>


</style>
