<template>
  <el-card class="mT20px" shadow="always">
    <div>
      <h1>{{ fullName }}</h1>
    </div>
    <div>
      <div>
        <span v-html="coach.hourlyRate"> </span>
        <span>/Hour</span>
      </div>
    </div>
    <el-row class="mT10px">
      <el-col :span="24">
        <base-badge v-for="area in coach.areas" :key="area" :type="area" :title="area"></base-badge>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24" class="text-right">
        <el-button @click="toCoachDetailsPage" type="text">Details</el-button>
        <el-button @click="toCoachContactPage" type="text">Contact</el-button>
      </el-col>
    </el-row>
  </el-card>
</template>

<script>
import BaseBadge from "@/components/base/BaseBadge";
export default {
  name: "CoachCard",
  components: { BaseBadge },
  props: ["coach"],
  computed: {
    fullName() {
      return this.coach.firstName + " " + this.coach.lastName;
    }
  },
  methods: {
    toCoachDetailsPage() {
      this.$router.push({
        name: "coachDetails",
        params: { id: this.coach.id }
      });
    },
    toCoachContactPage() {
      this.$router.push({
        name: "contactCoach",
        params: { id: this.coach.id }
      });
    }
  }
};
</script>

<style scoped></style>
