<template>
  <div>
    <el-checkbox
      @change="setFrontendFilter"
      name="frontend"
      v-model="frontendCheckbox"
      >Frontend
    </el-checkbox>
    <el-checkbox
      @change="setBackendFilter"
      name="backend"
      v-model="backendCheckbox"
      >Backend
    </el-checkbox>
    <el-checkbox
      @change="setCareerFilter"
      name="career"
      v-model="careerCheckbox"
      >Career
    </el-checkbox>
  </div>
</template>

<script>
export default {
  name: "CoachesFilter",
  emits: ["change-filter"],
  props: ["activeFilters"],
  data() {
    return {
      frontendCheckbox: this.activeFilters.frontend,
      backendCheckbox: this.activeFilters.backend,
      careerCheckbox: this.activeFilters.career
    };
  },
  methods: {
    setFrontendFilter(value) {
      this.frontendCheckbox = value;
      this.emitChangeFilter();
    },
    setBackendFilter(value) {
      this.backendCheckbox = value;
      this.emitChangeFilter();
    },
    setCareerFilter(value) {
      this.careerCheckbox = value;
      this.emitChangeFilter();
    },
    emitChangeFilter() {
      this.$emit("change-filter", {
        frontend: this.frontendCheckbox,
        backend: this.backendCheckbox,
        career: this.careerCheckbox
      });
    }
  }
};
</script>

<style scoped></style>
