<template>
  <section>
    <el-card>
      <div>
        <h3 style="text-align: center;font-size: 25px">Coach Registration</h3>
      </div>
      <div>
        <coach-form v-on:submit-form="registerCoach"></coach-form>
      </div>
    </el-card>
  </section>
</template>

<script>
import CoachForm from "@/components/coach/CoachForm";
export default {
  name: "CoachRegistration",
  components: { CoachForm },
  methods: {
    registerCoach(coach) {
      this.$store.dispatch("coachModule/registerCoach", coach);
      this.$router.replace({ name: "coaches" });
    }
  }
};
</script>

<style scoped></style>
