<template>
  <el-container>
    <el-header>
      <the-header></the-header>
    </el-header>
    <el-main>
      <el-container>
        <el-main style="padding: 0 15%">
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-main>
  </el-container>
</template>

<script>
import TheHeader from "@/components/layout/TheHeader";

export default {
  components: {
    TheHeader
  }
};
</script>

<style>
body {
  margin: 0;
}

header {
  background: #286BB0;
  color: white;
  height: 80px !important;
}

.absolute {
  position: absolute;
}

.blue-table-header{
  background-color: #286bb0 !important;
  color: #fff;
}

.mR5px {
  margin-right: 5px;
}

.mR10px {
  margin-right: 10px;
}

.mT10px {
  margin-top: 10px;
}

.mT10px-i {
  margin-top: 10px !important;
}

.mT20px {
  margin-top: 20px;
}

.text-right {
  text-align: right;
}

.invalid input,
.invalid textarea {
  border: 1px solid red !important;
}

.red {
  color: red;
}
</style>
